/* container */
.navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0077b6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* logo link */
.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* logo image */
.logo-img {
  height: 40px;
  width: auto;
}

/* logout button */
.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #e60000;
}

/* nav links */
.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.nav-links a.active {
  background-color: #e63946;
  font-weight: 600;
}

/* menu toggle */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* responsive styles */
@media screen and (max-width: 768px) {
  .navbar-logo {
    font-size: 1.3rem;
    margin-left: -20px;
  }

  .menu-toggle {
    display: block;
    margin-right: -29px;
  }

  .nav-links {
    display: none;
  }

  .mobile-popup {
    display: block;
    position: absolute;
    top: 49px;
    right: 0px;
    background-color: transparent;
    z-index: 100;
    padding: 1rem;
    border-radius: 8px;
  }

  .popup-content {
    background-color: #0076b61d;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
  }

  .popup-content a,
  .popup-content button {
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #ff4d4d;
    border-radius: 5px;
  }

  .popup-content a:hover,
  .popup-content button:hover {
    background-color: #e60000;
  }
}

@media screen and (min-width: 769px) {
  .nav-links {
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
  }

  .nav-links a,
  .nav-links button {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .nav-links a:hover,
  .nav-links button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
  }
}
